// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";

// CSS partials
@import "components/index";
@import "toastr/toastr";

.logo {
  display: inline-flex;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ada1a1;
  color: white;
  text-align: center;
}
